h1
{
	color: black;
}

body
{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTnl9R-aSASbTpYHKC25Rp2eaDGs-L9mZP2NA&usqp=CAU"); 
    background-repeat: no-repeat;
    background-size: cover;
}

#carte
{
	width: 800px;
	margin:0 auto;
	text-align: center;
	align content: center;
}
